.cart-container {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.cart-item {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item button {
    padding: 5px 10px;
    background: orange;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.place-order-btn {
    width: 100%;
    background: #ff9900;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.place-order-btn:hover {
    background: #e68a00;
}

