body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 350px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #ff9900;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #e68a00;
}

.center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: orange;
  color: black;
  text-decoration: none;
  margin-top: 15px;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

